* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  font-family: "Montserrat", sans-serif;
  color: #656774;
  font-size: 14px;
  font-weight: 400;
}

.btnPhone-outline {
  background: #b61984;
  border-radius: 25px;
  border: 2px solid #b61984;
  padding: 13.5px 44px;
  color: #f5f9fe;
  font-size: 14px;
  font-weight: 600;
  letter-spacing: 0.03rem;
  transition: all 0.3s;
}
.btnPhone-outline:hover {
  background: #f5f9fe;
  border-radius: #fff;
  color: #b61984;
  background-position: right center;
  transition: all 0.3s;
}

header .yellow img {
  position: absolute;
  right: 0;
  left: 0;
  pointer-events: none;
}
header .btnmenu {
  display: flex;
  align-items: center;
  padding-left: 25px;
}
header .nav-item a {
  color: #1d365e;
  font-size: 1.1rem;
  font-weight: 600;
  margin-left: 25px;
}
header .nav-icon i {
  margin-left: 20px;
}
header .nav-icon i:hover {
  color: #b61984;
  transition: all 0.3s;
}

.carosel .carosel1 {
  position: relative;
}
.carosel .carosel1 .flex {
  margin: auto;
  width: 80%;
  display: flex;
}
.carosel .carosel1 .flex .left {
  width: 50%;
}
.carosel .carosel1 .flex .left .text {
  padding: 200px 0;
  line-height: 50px;
}
.carosel .carosel1 .flex .left .text h2 {
  color: #b61984;
  font-size: 1.1rem;
  font-weight: 400;
}
.carosel .carosel1 .flex .left .text h1 {
  color: #191919;
  font-size: 57px;
  font-weight: 700;
}
.carosel .carosel1 .tim img {
  position: absolute;
  bottom: 0;
  pointer-events: none;
}
.carosel .carosel2 {
  position: relative;
  background-color: #dcd1f3;
}
.carosel .carosel2 .trang {
  bottom: 0;
  position: absolute;
  pointer-events: none;
}
.carosel .carosel2 .trang img {
  max-width: 100%;
  height: auto;
}
.carosel .carosel2 .row {
  margin: auto;
  width: 80%;
}
.carosel .carosel2 .row .card {
  box-shadow: 0 30px 30px -10px rgba(0, 0, 0, 0.2);
  text-align: center;
  border-radius: 10px;
}
.carosel .carosel2 .row .card h4 {
  color: #b61984;
  font-size: 0.75rem;
  font-weight: 600;
}
.carosel .carosel2 .row .card h2 {
  color: #191919;
  font-size: 23.5px;
  font-weight: 700;
}
.carosel .carosel2 .row .card p {
  color: #121212;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.8em;
}
.carosel .carosel3 {
  position: relative;
}
.carosel .carosel3 .flex {
  padding-top: 50px;
  display: flex;
  width: 75%;
  margin: auto;
}
.carosel .carosel3 .flex .left {
  display: block;
  overflow: hidden;
  width: 605;
}
.carosel .carosel3 .flex .left img {
  display: block;
  margin: 0;
  line-height: 0;
  max-width: 100%;
  height: auto;
}
.carosel .carosel3 .flex .right {
  width: 40%;
}
.carosel .carosel3 .flex .right .formthunhat {
  display: flex;
  justify-content: center;
}
.carosel .carosel3 .flex .right .formthunhat .name {
  display: flex;
  justify-content: center;
  max-width: 50%;
  padding-right: 1em;
}
.carosel .carosel3 .flex .right .formthunhat .name .fa-solid {
  top: 8.6rem;
  color: #b61984;
  left: 57.5em;
  top: 8.7rem;
  position: absolute;
}
.carosel .carosel3 .flex .right .formthunhat .email {
  display: flex;
  justify-content: center;
  max-width: 50%;
}
.carosel .carosel3 .flex .right .formthunhat .email .fa-solid {
  line-height: 1;
  color: #b61984;
  left: 72em;
  top: 8.7rem;
  position: absolute;
}
.carosel .carosel3 .flex form {
  border-radius: 10px;
  box-shadow: 0 30px 30px -10px rgba(0, 0, 0, 0.2);
  padding: 20px;
}
.carosel .carosel3 .flex form h2 {
  color: #191919;
  font-size: 30px;
  font-weight: 700;
}
.carosel .carosel3 .flex form .over {
  margin-bottom: 25px;
}
.carosel .carosel3 .flex form .form-group {
  width: 90%;
}
.carosel .carosel3 .flex form .form-group .form-control {
  padding: 0.5rem 2.2rem;
}
.carosel .carosel3 .flex form .form-group textarea {
  padding: 1em 1em 1em 3.5em !important;
  height: 90px;
  line-height: 1.5;
  font-size: 0.8em !important;
  border-radius: 20px;
}
.carosel .carosel3 .flex form .form-group .input-group-langugue {
  display: flex;
  justify-content: center;
  max-width: 50%;
}
.carosel .carosel3 .flex form .form-group .input-group-langugue .fa-solid {
  color: #b61984;
  left: 57.5em;
  top: 12.2rem;
  position: absolute;
}
.carosel .carosel3 .flex form .form-group .input-group-messages {
  color: #b61984;
  left: 58em;
  top: 16.5rem;
  position: absolute;
}
.carosel .carosel3 .tim2 {
  pointer-events: none;
}
.carosel .carosel3 .tim2 img {
  position: absolute;
  max-width: 100%;
  height: auto;
  z-index: -5;
  bottom: 0;
}

footer {
  height: auto;
  width: 100%;
  background-image: url(../../img/images-20220809T144136Z-001/images/footer_background.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}
footer .row {
  padding: 0 0 200px;
}
footer .row .title {
  line-height: 1.2;
}
footer .row .title h2 {
  font-size: 1.6rem;
  font-weight: 700;
  color: #fff;
  padding: 24px 0;
}
footer .row .footer-address div i {
  padding-right: 8px;
  color: #fff;
}
footer .row .footer-address span {
  color: #fff;
}
footer .row .icon-mxh {
  padding: 20px 0;
  margin-right: 18px;
}
footer .row .icon-mxh a {
  font-size: 1.5rem;
  font-weight: 200;
  color: #fff;
  text-decoration: none;
  padding-top: 5px;
  margin-right: 13px;
  transition: all 0.5s;
}
footer .row .icon-mxh a:hover {
  color: #181818;
}
footer .row .footer-menu a,
footer .row .footer-About a {
  display: block;
  font-size: 16px;
  font-weight: 400;
  color: #fff;
  padding: 10px 0;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1019607843);
  text-decoration: none;
}
footer .row .footer-menu a:hover,
footer .row .footer-About a:hover {
  opacity: 0.6;
}
footer .row .new div {
  padding: 30px 0 20px;
}
footer .row .new .email input {
  background-color: #b61984;
  padding: 13.5px 40px;
  border: 1px solid white;
  border-radius: 25px;
  color: #fff;
  text-align: center;
}
footer .row .new .btn {
  padding: 13.5px 80px;
  border-radius: 45px;
  transition: all 300ms ease;
  text-align: center;
}/*# sourceMappingURL=main.css.map */