.carosel{
    
    .carosel1 {
        position: relative;
    
        .flex {
            margin: auto;
            width: 80%;
            display: flex;  
            .left {
                width: 50%;
                .text {
                    padding: 200px 0;
                    line-height: 50px;
                    h2 {
                        @include stylerText($color-1, $fs-2, $fw-1);
                    }
                    h1{
                        @include stylerText($color-dark-4,$fs-12,$fw-3)
                     }
                }
            }
        }
        .tim {
            img {
                position: absolute;
        
                bottom: 0;
                pointer-events: none;
            }
        }
    }
    
    
    .carosel2 {
        position: relative;
        background-color: $color-2;
        // z-index: 2;
        .trang {
            bottom: 0;
            position: absolute;
            pointer-events: none;
            img {
                // background-color: $color-2;
               
                max-width: 100%;
                height: auto;
                // padding-top: 0px;
              
            }
        }
    
        .row {
            
            margin: auto;
            width: 80%;
    
            .card {
                box-shadow: 0 30px 30px -10px rgb(0 0 0 / 20%);
                text-align: center;
                border-radius: 10px;
               
                h4 {
                    @include stylerText($color-1, $fs-10, $fw-2);
                }
                h2 {
                    @include stylerText($color-dark-4, $fs-9, $fw-3);
                }
                p {
                    @include stylerText($color-dark-2, $fs-1, $fw-1);
                    line-height: 1.8em;
                }
               
                   
                
            }
        }
    }
    
    .carosel3 {
        position: relative;
       
        .flex {
            padding-top: 50px;
            display: flex;
            width: 75%;
            margin: auto;
            .left {
                display: block;
                overflow: hidden;
                width: 605px;
    
                img {
                    display: block;
                    margin: 0;
                    line-height: 0;
                    max-width: 100%;
                    height: auto;
                }
            }
            .right {
                width: 40%;
                .formthunhat {
                    display: flex;
                    justify-content: center;
    
                    .name {
                        display: flex;
                        justify-content: center;
                        max-width: 50%;
                        padding-right: 1em;
                        position: relative;
    
                        .fa-solid {
                            top: 8.6rem;
                            @include stylerFA($color-1, $fs-1,$fs-13);
                            position: absolute;
                        }
                    }
    
                    .email {
                        display: flex;
                        justify-content: center;
                        max-width: 50%;
                        position: relative;
    
                        .fa-solid {
                            line-height: 1;
    
                        
    
                            @include stylerFA($color-1,$fs-13, $fs-13);
                            position: absolute;
                        }
                    }
                }
            }
    
            form {
                border-radius: 10px;
                box-shadow: 0 30px 30px -10px rgb(0 0 0 / 20%);
                padding: 20px;
                h2{
                   @include stylerText($color-dark-4,$fs-11,$fw-3)
                }
    
                .over {
                    margin-bottom: 25px;
                }
    
                .form-group {
                    width: 90%;
    
                    .form-control {
                        padding: 0.5rem 2.2rem;
                    }
    
                    textarea {
                        padding: 1em 1em 1em 3.5em !important;
                        height: 90px;
                        line-height: 1.5;
                        font-size: 0.8em !important;
                        border-radius: 20px;
                    }
    
                    .input-group-langugue {
                        display: flex;
                        justify-content: center;
                        max-width: 50%;
                        position: relative;
                       
                     
                       
    
                        .fa-solid {
                           
                            @include stylerFA($color-1,$fs-13, $fs-13);
                            position: absolute;
                           
                        }
                    }
    
                    .input-group-messages {
                        
                       
                        position: relative;

                    }
                    .fa-solid{
                        @include stylerFA($color-1, $fs-14, $fs-15  );
                        position: absolute;
                    }
                }
            }
    
            
        }
        .tim2{
            
            
            pointer-events: none;
            
        
            img {
                position: absolute;
                max-width: 100%;
                height: auto;
                z-index: -5;
                bottom: 0;
            }
        }
    }
    
    
}

@include responsive("large"){
    .carosel{
        
    } 
}
@include responsive("medium"){
    .carosel{
       
    } 
}
@include responsive("small"){
    .carosel{
        
    } 
}
